@{
    ViewBag.Title = "Home Page";
}

<!--Main Content-->
<main>
    <!--View Title-->
    <h2 class="page-header"> @ViewBag.Title </h2>

    <section id="about" class="section-wrapper">
        <div class="container">
            <div class="centered gap fade-down section-heading">
                <h2 class="main-title">Our Story</h2>
                <hr>
                <p>She evil face fine calm have now. Separate screened he outweigh of distance landlord.</p>
            </div>
            <div class="row gap">
                <div class="col-md-8 col-md-offset-2">
                    <img src="assets/img/screens.png" class="fade-up img-responsive" alt="Alt" />
                </div>
            </div>
        </div>
    </section>
</main>