@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="col-md-4">
        <h2> Home Page </h2>
        <h3> Introductions </h3>
        <p>
            Hi, My name is Mack Jones, and I have a passion for coding/software development. I've always loved making things ever since I was little, so my passion eventually lead me into software/game development. In the past, I have worked in things such as Game Development and Computer Science either for education or for personal projects. 
        </p>
    </div>   
</main>