@{
    ViewBag.Title = "Home Page";
}

<main>
    <h2> Page Content Example Text</h2>
    <p>
        Hi, My name is Mack Jones, and I have a passion for coding/software development. I'm currently going through Centriq's Full Stack Web Developer training program, but I plan to take these skills with me and go onto something greater, little by little!
    </p>
</main>