
@{
    ViewBag.Title = "Projects";
}

<!--QUOTE Header Section-->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div id="bannertext" class="col-lg-8 col-lg-offset-2">
                <h1 class="fade-down gap"><span class="pe-7s-chat"></span> Mack Jones </h1>
                <h2 class="fade-up">Welcome to my Website!</h2>
                <div class="spacer"></div>
            </div>
        </div><!-- row -->
    </div><!-- /container -->
    <span class="headerwrap-btn-wrap">
        <a href="#content-wrapper" class="headerwrap-btn"><i class="fade-up fa fa-angle-down"></i></a>
    </span>
</div><!-- /headerwrap -->

<div id="content-wrapper">

    <!--About Section-->
    <section id="about" class="section-wrapper">
        <div class="container">
            <div class="centered gap fade-down section-heading">
                <!--Projects Block-->
                <h2 class="main-title">My Projects</h2>
                <hr>
                <p>Welcome to my Projects page! Here you will find the various things I work on either for Centriq or things I worked on in my spare time. Each of these is in a different state, but still an interesting thing to look at nonetheless!</p>
            </div>

            <!--My Projects Header-->
            <div class="row gap">
                <div class="col-md-8 fade-up">
                    <h3 class="panel-title">My Projects</h3>
                    <p>These are all of my projects I have worked on/am working on. Each of these will be a separate GitHub link for added convenience! These are all in various states of completion depending on the Project, so some functionality may not all be there in certain versions of each Project.</p>

                    <!--Project Links Section-->
                    <div class="col-md-4">
                        <div class="qa-message-list" id="wallmessages">
                            <!--FED1StudioProject Block-->
                            <div class="message-item fade-up" id="m16">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="user-detail">
                                            <h5 class="handle">FED1StudioProject Small Business Site</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                                        <span class="qa-message-when-data">Nov 5, 2020 (Latest Version Initial Commit after restructuring)</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        This is my FED1StudioProject Small Business Site! (Still In Progress)
                                        <a href="https://github.com/mjone181/FED1StudioProjectV2">Project Link</a>
                                    </div>
                                </div>
                            </div>

                            <!--Dungeon App Block-->
                            <div class="message-item fade-up" id="m16">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="user-detail">
                                            <h5 class="handle">Dungeon Application</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                                        <span class="qa-message-when-data">Dec 14, 2020 (Latest Version Initial Commit after restructuring)</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        This is my Personal Dungeon App Project! (In Progress)
                                        <a href="https://github.com/mjone181/PersonalDungeonApp">Project Link</a>
                                    </div>
                                </div>
                            </div>

                            <!--StoreFront Block-->
                            <div class="message-item fade-up" id="m16">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="user-detail">
                                            <h5 class="handle">StoreFront Application</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                                        <span class="qa-message-when-data">Nov 17, 2020 (Latest Version Initial Commit)</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        This is my StoreFront Project! (In Progress)
                                        <a href="https://github.com/mjone181/StoreFront">Project Link</a>
                                    </div>
                                </div>
                            </div>

                            <!--Personal Site Block-->
                            <div class="message-item fade-up" id="m16">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="user-detail">
                                            <h5 class="handle">Personal Site</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                                        <span class="qa-message-when-data">Nov 3, 2020 (Latest Version Initial Commit)</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        This is my PersonalSite Project (What you're looking at right now)! (In Progress)
                                        <a href="https://github.com/mjone181/PersonalSiteMVC">Project Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>